/* PC */
@media (min-width: 1024px) {
    .hide-on-pc {
        display: none;
    }
}

/* > PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px) {
    .header__mobile {
        padding: 0 8px;
    }

    .product__description {
        margin-top: 30px;
    }

    .checkouts__success {
        margin-left: 70px;
    }
}

/* Mobile & Tablet */
@media (max-width: 1023px) {
    .hide-on-tablet-mobile {
        display: none;
    }

    .header.header__scroll .header__mid {
        position: relative;
        top: 0;
        right: 0;
        padding: 10px 15px;
    }

    .header.header__scroll .header__logo {
        display: block;
    }

    .header.header__scroll .header__logo a {
        font-size: 24px;
    }

    .header__logo {
        text-align: left;
    }

    .header.header__scroll .header__menu-logo {
        display: none;
    }

    .header.header__scroll .header__mobile {
        display: none;
    }

    .product__image-detail {
        width: 100%;
    }

    .product__image-button .product__zoom-in {
        bottom: 15px;
        right: 15px;
        left: initial;
    }

    .product__description {
        margin-top: 60px;
        position: unset;
    }

    .collection__heading {
        margin: 20px 0;
    }

    .collection__product {
        margin-bottom: 10px;
    }

    .login__title {
        border: none;
    }

    .login__title::after {
        margin-top: 30px;
    }

    .login__title h1 {
        font-size: 40px;
    }

    .cart {
        padding: 30px 15px;
    }

    .cart__container .cart__view td.info {
        width: 85%;
    }

    .checkouts {
        padding: 0;
    }

    .checkouts__main {
        padding: 0 15px;
        float: none;
        width: 100%;
    }

    .checkouts__sidebar {
        display: none;
        float: none;
        width: 100%;
        padding: 0 50px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    .checkouts__sidebar::after {
        height: unset;
    }

    .checkouts__success {
        margin-left: 70px;
    }

    .news__posts .post .post__thumbnail {
        display: block;
        width: 100%;
        height: 300px;
        overflow: hidden;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }

    .header__mid {
        padding: 10px 15px;
    }

    .header__mobile {
        padding: 0 8px;
    }

    .search__error .search__field {
        padding: 0 150px;
    }
}

/* Mobile */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }

    .header__mid {
        padding: 10px 12px;
    }

    .header__action-menu {
        width: 30px;
    }

    .header__mobile {
        padding: 0 4px;
    }

    .header__action-menu::after {
        display: none;
    }

    .newsletter__area {
        display: block;
    }

    .account__info {
        margin-top: 30px;
    }

    .newsletter__title {
        top: 0;
        margin-bottom: 15px;
    }

    .newsletter__form {
        display: block;
        width: 100%;
        margin-left: 0;
    }

    .contact__area {
        margin: 10px 0;
    }

    .site__nav {
        width: 320px;
    }

    .site__nav-container {
        padding: 40px 30px 0;
    }

    .site__nav-close {
        top: 35px;
        right: 30px;
    }

    .product__image-slider {
        overflow: visible;
        max-height: 450px;
    }

    .product__image-slider-item img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .collection__heading-title h2 {
        font-size: 20px;
        text-align: center;
        margin-bottom: 5px;
    }

    .collection__heading-sort {
        float: none;
        width: 100%;
    }

    .collection__product {
        height: auto;
    }

    .product__image-slider .flickity-button {
        display: none;
    }

    .collection__product-details {
        padding: 5px 0;
    }

    .cart__order {
        margin-top: 30px;
    }

    .search__error .search__field {
        padding: 0 50px;
    }

    .news {
        padding: 20px;
    }

    .footer__main {
        margin: 20px 0;
    }

    .footer__main .footer__col {
        border-bottom: 1px solid #efefef;
        margin-bottom: 0;
    }

    .footer__main .footer__title h3 {
        position: relative;
        font-size: 14px;
        padding: 10px 0;
        margin: 0;
        text-transform: uppercase;
        line-height: 20px;
    }

    .footer__main .footer__title.active h3::after {
        content: "\f106";
    }

    .footer__main .footer__title h3::after {
        content: "\f107";
        font-family: "Font Awesome 5 Free";
        font-weight: 600;
        font-size: 14px;
        position: absolute;
        top: 0px;
        right: 5px;
        text-align: center;
        line-height: 36px;
    }

    .footer__content {
        display: none;
    }
}
